@import url('https://fonts.cdnfonts.com/css/valorant');

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-color: rgb(228, 95, 128);
    border: 2px solid rgb(224, 94, 116);
    background-image: url('lotus.jpg');
    background-color: white;
    background-blend-mode: multiply;
    border-radius: 10px;
    opacity: 0.6;
}


body{
    margin-left: 1px;
    margin-top: px;
    background: url('valorant-banner.png')no-repeat center center fixed;
    background-size: cover;
}

.titulo{
    font-family: 'valorant' ;
    margin-inline-start: 5px;
    color: white;
}

.empresa{
    font-family: 'valorant';
    margin-inline-end: 5px;
    font-size: 26px;
    display: flex;
    align-items: center;
    color: white;
}

.image{
    margin-top: 20px;
    
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 1px solid;
    cursor: pointer;
    background-color: rgba(239, 144, 174, 0.281);
    border-radius: 5px;
   
}

.navbutton{
    justify-content: center;
    display: flex;
    padding-top: 20px;

}

.container{
    width: 100%;
    height: 50vh;
    margin: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.767);
    justify-content: space-evenly;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

.texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 50%;
    font-size: 25px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(246, 244, 244, 0.375);
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contact{
    cursor: pointer;
}
.about{
    cursor: pointer;
}
.dealer{
    cursor: pointer;
}